body {
	margin: 0;
	padding: 0;
  background-color: #FEFEFE;
}

h1 {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

p {
  margin: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
}

.textblock{
  padding: 2px;
}

/*Menu Bar Styling*/
.menubar {
	z-index: 9999;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 15px #656;
}

.menubarListItem{

	float: right;

}

.menubarListItem:nth-child(1) {

	float: left;

}

.menubarLink {
	display: block;
	color: #656D78;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
	font-size: 18px;
}

.menubarLink:hover {

	background-color: #F2F3F7;

}
/*End Menu Bar Styling*/

/*Back to top button*/
#backToTopBttn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTopBttn:hover {
  background-color: #555;
}


/*End Back To Top Button*/


#bodyDiv {
	height: 1000px;
	background-color: #FFF;

	margin: 0px 100px 0px 100px;
  box-shadow: 0px -10px 10px black;


}

.firstSlideElement, .secondSlideElement, .thirdSlideElement {
  width: 100%;
  height: 100%;
  transition: 10s ease;
}

.contentDiv {
  background-color: green;
  width: 95%;
  margin: auto;
  border-radius: 30px;
  padding: 0px;
}


/*Slideshow Styling*/

#slideShow {

}

* {
  box-sizing: border-box
}

.mySlides {
  display: none
}
.slideImg {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 360px;
  box-shadow: 0px 5px 20px #000;
}

.slideshow-container{

  width: 60%;
	margin: 0px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
	position: relative;
	
}

/* Next & previous buttons */
.slideprev, .slidenext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slidenext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideprev:hover, .slidenext:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*End Slideshow Styling*/


/*Introduction Div Styling*/
#introDiv{
  margin-top: 30px;
}




/*End Introduction Div Styling*/



/*Interactive Graph Div*/
#graphDiv{
  width: 49%;
  margin: 0px;
  margin-top: 10px;
  left: 0px;
  float: left;
  height: 100px;
}


/*End Interactive Graph Div*/



/*Statistics Div*/
#statsDiv{
  width: 49%;
  margin: 0px;
  margin-top: 10px;
  right: 0px;
  float: right;

}
/*End Statistics Div*/


/*Interactive Activity Div*/
#activityDiv {
  width: 100px;
  margin-top: 10px;
}
/*End Interactive Activity Div*/


/*External Readings Div*/
#extReadingsDiv{
  width: 100px;
  margin-top: 10px;
}
/*End External Readings Div*/

/*Footer Div*/
#footerDiv {
  width: 100%;
  padding: 10px;
}
/*End Footer Div*/










