body {
	margin: 0;
	padding: 0;
  background-color: #FEFEFE;
}

h1 {
  text-align: center;
  margin: 15px 5px 0px 5px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 40px;
}

p {
  margin: 10px;
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}

pre {
  margin: 0px;
}

.textblock{
  padding: 2px;
}

/*Flip Box Styling*/
.flip-box {
  height: 175px;
  width: 175px;
  perspective: 1000px; /* Gives 3D Effect */
  border-radius: 10px;
}

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #d2b847;
    border-radius: 5px;
    display:table;
  }


  .flip-box-back {
    transform: rotateY(180deg);
    padding: 5px;

  }

  .flip-box-back p {
    font-size: 17px;
    display: table-cell;
    vertical-align: middle;
  }

/*End Flip Box*/

/*Flex Container Styling*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

  }

  .flex-container > div {
    margin: 2px;
    padding: 6px;
  }
/*End Flex Container*/

/*Menu Bar Styling*/
.menubar {
	z-index: 9999;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
  position: sticky;
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 15px #656;
}

.menubarListItem{

	float: right;

}

.menubarListItem:nth-child(1) {

	float: left;

}

.menubarLink {
	display: block;
	color: #656D78;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
	font-size: 18px;
}

.menubarLink:hover {

	background-color: #F2F3F7;

}

.menubarListItem input {
  background-color: transparent;
  color: #656D78;
  border: none;
  padding: 20px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}

/*End Menu Bar Styling*/

/*Back to top button*/
#backToTopBttn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #656D78;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 3px 5px 10px black;
}

#backToTopBttn:hover {
  background-color: #F2F3F7;
}


/*End Back To Top Button*/


#bodyDiv {
	background-color: #FFF;
  /*padding: 10px;*/
	margin: 0px 100px 0px 100px;
  box-shadow: 0px -10px 20px black;
  padding-bottom: 150px;


}

.firstSlideElement, .secondSlideElement, .thirdSlideElement {
  width: 100%;
  height: 100%;
}

.contentDiv, .doubleDiv {
  background-color: lightyellow;
  border: 15px solid #d2b847;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 5px;
  transition: all 200ms ease-out; 
}


/*Slideshow Styling*/

#slideShow {

}

* {
  box-sizing: border-box
}

.mySlides {
  display: none
}
.slideImg {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 480px;
  box-shadow: 0px 5px 20px #000;
}

.slideshow-container{

  height: 480px;
	margin: 0px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
	position: relative;
	
}

/* Next & previous buttons */
.slideprev, .slidenext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 24px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slidenext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideprev:hover, .slidenext:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*End Slideshow Styling*/


/*Introduction Div Styling*/
#introDiv{
}




/*End Introduction Div Styling*/

#doubleContent:after {
  content: "";
  display: table;
  clear: both;
}

/*Interactive Graph Div*/
#graphDiv{
  width: 49%;
  margin: auto;
  float: left;
  padding: 0px 15px 15px 15px;
}

.graph1Container, .graph2Container {
  background-color: #fff;
  width: 100%;
  height: 550px;
  border-radius: 10px;
  border: 2px solid black;

}

.graph1MenuBar, .graph2MenuBar {
  background-color: gray;
  height: 50px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 5px;
  padding: 10px;
}

.graph1MenuBar > *, .graph2MenuBar > * {
  display: inline;
}

.graphVisElement {
  margin:0px;
  padding: 10px;
  height: 45px;
  margin-top: 4px;
  border-radius: 0px 5px 5px 0px;
}

.graphVisElement p {
  margin: 0px;

}


/*End Interactive Graph Div*/



/*Statistics Div*/
#statsDiv{
  width: 49%;
  margin: auto;
  right: 0px;
  float: right;
  padding: 0px 15px 15px 15px;

}
/*End Statistics Div*/


/*Interactive Activity Div*/
#activityDiv {
  padding: 0px 15px 15px 15px;

}

.activityContainer {
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid black;

}

/*End Interactive Activity Div*/


/*External Readings Div*/
#extReadingsDiv{
}

.extReadBtn {
  position: relative;
  display: block;
  width: 60%;
  margin: 10px auto 10px auto;
  border-radius: 10px;
  border-width: 5px;
  padding: 0px;
  height: auto;
  text-align: left;
}

.extReadBtn table {
  width: 100%;
}

.extReadBtn tr {
}


.btnImg {
  width: 40%;
  display: inline;
  margin: 0px 0px 0px 0px;
  position: static;
  
}
.btnImg img{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
}

.btnTxt {
  display: inline;
  width: 50%;
  text-align: left;
  position: static;
  margin: 0px;
}

.btnTxt p {
  font-size: 24px;
  top: 0;
}




/*End External Readings Div*/

/*Footer Div*/
#footerDiv {
  width: 100%;
  padding: 10px;
  height: 80px;
  box-shadow: 0px 10px 50px black;
  background-color: #17191a;
  color: #fff;
  padding: 20px;
}
/*End Footer Div*/










