body {
	margin: 0;
	padding: 0;
	background-color: #D9D9D9;
}

/*Menu Bar Styling*/
.menubar {
	z-index: 9999;
	list-style-type: none;
	margin: 0;
	margin-bottom:20px;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	width: 100%;
	box-shadow: 0px 0px 15px #656;
}
.menubarListItem{

	float: right;

}
.menubarListItem:nth-child(1) {

	float: left;

}
.menubarLink {
	display: block;
	color: #656D78;
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
	font-size: 18px;
	transition: background-color 0.7s;
}
.menubarLink:hover {

	background-color: #CCD1D9;

}

/*Photo Container Styling*/
.photoContainer {
	position: relative;
	text-align: center;
	color: white;
}
.photoContainerCenter {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

/*Accordian Styling*/
.accordionContainer {
	/*border-radius: 25px;*/
	margin: 0px 50px 0px 50px;

	/*box-shadow: 1px 1px 5px #434A54;*/
}
.accordion {

	background-color: #fff;
	width: 100%;
	color: #656D78;
	cursor: pointer;
	padding: 18px;
	font-size: 19px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}
 .accordion:hover {

	background-color: #ccc;
	box-shadow: 5px 0px 15px gray;
}
.active {
	border-radius: 0px;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {

  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.panel {
	padding: 0px 18px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.accordion:first-child {
	border-radius: 30px 30px 0px 0px;
}

#lastAccordion { 
	border-radius: 0px 0px 30px 30px;
}

.active {
	border-radius: 0px;

}

.panel:last-child {
	border-radius: 0px 0px 30px 30px;
	margin-bottom: 20px;
}


/*Table Styling*/
	table {
		border-collapse: collapse;
		margin: 20px;

	}

    table, th, td {
      border: 1px solid #434A54;
      padding: 10px;
    
     
    }

    tr:nth-child(even) {
    	background-color: #F2F3F7;

    }
    .center {
    
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    input {
      text-align: center;
      background-color: lightgrey;
      border-radius: 10px;
    }


/*Header Styling*/
	#header {
		font-size: 20px;
		text-align: center;
		background-color: #ffffff;
		color: #ffffff;
		padding: 0px;
		margin: 0px;
		border-bottom: 2px solid #ffffff;
	}

	#headertitle {
		margin: 0px;
		color: #505050;
		padding: 5px;
		outline: 4px solid #505050;
		font-size: 80px;
		text-shadow: 0px 0px 2px;
	}

	h2 {
		color: #142539;
		margin-left: 40px;
		margin-top: 60px;
	}




